.task {
    margin: 12px 0;
}

.titleRow {
    display: flex;
    flex-direction: row;
}

.taskTitle {
    width: fit-content;
    padding-left: 40px;
}

.expandCheckbox {
    width: 100%;
    color: white;
}

.expandCheckbox > input[type="checkbox"] {
    display: none;
}

.expandToggle {
    rotate: 0deg;
    background-color: transparent;
    color: white;
    padding: 6px 0 8px;
    outline: none;
    font-size: 0.9rem;
    width: auto;
    text-align: center;
    box-sizing: border-box;
    transition: all 0.2s ease-in-out;
    top: 24px;
}

.expandCheckbox:has(input[type="checkbox"]:checked) + .expandToggle{
    rotate: 180deg;
}

.task > div:not(.titleRow), .task > hr {
    display: none;
}

.task:has(.expandCheckbox > input[type="checkbox"]:checked) > div:not(.titleRow), .task:has(.expandCheckbox > input[type="checkbox"]:checked) > hr {
    display: block;
}

.titleRow > .expandToggle {
    padding: 0;
    position: absolute;
    right: 20px;
    z-index: -1;
}

.sectionTitle {
    margin: 0 0 12px 0;
}

.taskCategory {
    background-color: rgba(0, 0, 0, 0.15);
    backdrop-filter: blur(16px);
    border-radius: 24px;
    gap: 8px;
    height: auto;
    width: min-content;
    padding: 4px 8px;
    font-size: 0.8rem;
    display: inline;
    font-weight: normal;
    margin-left: 8px;
}

.Technical {
    background-color: rgba(255, 0, 0, 0.4);
}

.SoftSkill {
    background-color: rgba(255, 208, 0, 0.4);
}

.CareerBranding {
    background-color: rgba(0, 89, 255, 0.4);
}

.checkboxContainer {
    display: block;
    position: absolute;
    top: 20px;
    left: 20px;
    width: 36px;
    height: 36px;
}

.checkboxContainer > input[type="checkbox"] {
    position: absolute;
    opacity: 0;
    height: 0;
    width: 0;
}

.checkmark {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 28px;
    width: 28px;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.6);
    backdrop-filter: blur(16px);
    transition: all 0.2s ease-in-out;
}

.checkboxContainer > input[type="checkbox"]:hover + .checkmark {
    background-color: rgba(255, 255, 255, 0.8);
}

.checkboxContainer > input[type="checkbox"]:checked + .checkmark {
    background-color: rgba(70, 255, 101, 0.7);
}

.checkmark::after {
    content: "";
    position: absolute;
    left: 10px;
    top: 4px;
    width: 6px;
    height: 12px;
    border: solid white;;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    display: none;
}

.checkboxContainer > input[type="checkbox"]:checked + .checkmark::after {
    display: block;
}

hr {
    width: 97.5%;
    margin: 8px;
}