:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  background: linear-gradient(
    225deg,
   rgb(130, 205, 224) 0%,
   rgb(149, 201, 222) 16.667%,
   rgb(174, 200, 216) 33.333%,
   rgb(202, 201, 208) 50%,
   rgb(232, 206, 199) 66.667%,
   rgb(255, 213, 194) 83.333%,
   rgb(255, 221, 192) 100%
  );
  

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

hr {
  width: 100%;
  border: 1px solid white;
}
